package views
import "tpeProgWeb/domain"

templ Layout(reservations []*domain.Reservation) {
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Reservas de Quincho</title>
            <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
            />

            <script src="https://unpkg.com/htmx.org@1.9.10"></script> 

        </head>
        <body>
            <h1 id="titulo-h1" class="titulo-h1">Sistema de Reservas del Quincho</h1>
            
            <a href="/calendario" class="link-volver">Ver Calendario de Reservas</a>
            
            // aca va el formulario de crear reserva
            @CreateReservationForm()

            // aca va el formulario de actualizar reserva
            @UpdateReservationForm()
            
            // aca va la lista de reservas
            @ReservationList(reservations)
        </body>
    </html>
}
